# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Python virtual environment
env/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Reports
# ==========================
reports/*.pdf
reports/*.html

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Docker
# ==========================
*.tar

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/